@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoardGameHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BoardGameHub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="BoardGame" asp-action="UserViewAll">Katalog</a>

            @if (User.Identity?.IsAuthenticated == true)
            {
                if (User.IsInRole("Admin"))
                {
                    <a asp-controller="BoardGame" asp-action="ViewAll">Panel gier (admin)</a>
                    <a asp-controller="Category" asp-action="Index">Kategorie</a>
                    <a asp-controller="Publisher" asp-action="Index">Wydawcy</a>
                }
                else
                {
                    <a asp-controller="BoardGame" asp-action="UserViewAll">Moje gry</a>
                }

                <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="d-inline">
                    <button type="submit" class="btn btn-link">Wyloguj</button>
                </form>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
                <a asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - BoardGameHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
