@model BoardGameHub.Models.DbModels.Publisher

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuñ</h1>

<h3>Czy napewno chcesz usun¹æ tego wydawcê?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PublisherId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="ViewAll" class="text-decoration-none text-muted-sm">
            &larr; Wróæ do katalogu
        </a>
    </form>
</div>